/* stylelint-disable value-no-vendor-prefix */
button {
    border-radius: 15px;
    padding: 8px 16px;
    transition: backdrop-filter var(--transition-speed-fast);
    box-shadow: var(--shadow);
    border-width: var(--border-md);
    border-style: solid;
    cursor: pointer;
    font: var(--font-m);
    font-weight: 600;
    color: var(--qwarz-light-primary);
    display: block;
}

.cleared {
    transition: var(--transition-speed-fast);
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: var(--text-shadow);
}

.cleared:hover:enabled {
    color: var(--qwarz-light-secondary);
}

.cleared:active:enabled {
    color: var(--qwarz-light-tertiary);
}

.filled {
    transition: var(--transition-speed-fast);
    background-color: var(--qwarz-light-primary);
    border-color: var(--qwarz-light-primary);
    color: var(--qwarz-dark-primary);
}

.filled:hover:enabled {
    background-color: var(--qwarz-light-secondary);
    border-color: var(--qwarz-light-secondary);
    color: var(--qwarz-dark-secondary);
}

/* .filled:focus:enabled, */
.filled:active:enabled {
    background-color: var(--qwarz-light-tertiary);
    border-color: var(--qwarz-light-tertiary);
    color: var(--qwarz-dark-primary);
}

.outlined {
    transition: var(--transition-speed-fast);
    border-color: var(--qwarz-light-primary);
    text-shadow: var(--text-shadow);
    background: transparent;
}

.outlined:hover:enabled {
    border-color: var(--qwarz-light-secondary);
    color: var(--qwarz-light-secondary);
}

/* .outlined:focus:enabled, */
.outlined:active:enabled {
    color: var(--qwarz-light-tertiary);
}

.blured {
    transition: backdrop-filter var(--transition-speed-fast);
    text-shadow: var(--text-shadow);
    border-color: var(--qwarz-light-primary);
    backdrop-filter: var(--blur);
    background: transparent;
}

.blured:hover:enabled {
    transition: backdrop-filter var(--transition-speed-fast);
    backdrop-filter: var(--blur-hover);
    border-color: var(--qwarz-light-secondary);
    color: var(--qwarz-light-secondary);
}

/* .blured:focus:enabled, */
.blured:active:enabled {
    transition: backdrop-filter var(--transition-speed-fast);
    backdrop-filter: var(--blur-press);
    border-color: var(--qwarz-light-tertiary);
    color: var(--qwarz-light-tertiary);
}

.filled:hover:enabled,
.outlined:hover:enabled,
.blured:hover:enabled {
    box-shadow: var(--shadow-hover);
}

/* 
.filled:focus:enabled,
.outlined:focus:enabled,
.blured:focus:enabled, */
.filled:active:enabled,
.outlined:active:enabled,
.blured:active:enabled {
    box-shadow: var(--shadow-hover);
}

.full-width {
    width: 100%;
}

.square {
    padding: 0;
}

.disabled {
    opacity: 0.75;
    cursor: not-allowed;
}
