input {
    background: none;
    border: none;
    color: rgb(var(--qwarz-light-primary-value) / 80%);
    font: var(--font-s);
    font-weight: 600;
    text-shadow: var(--text-shadow);
    outline: none;
}

input::placeholder {
    color: rgb(var(--qwarz-light-primary-value) / 80%);
}

.input-container {
    display: flex;
    gap: 16px;
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    background: rgb(var(--qwarz-dark-secondary-value) / 30%);
    border: var(--border-sm) solid rgb(var(--qwarz-light-tertiary-value) / 20%);
    border-radius: 15px;
    padding: 10px 12px;
}

.full-width {
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    background: rgb(var(--qwarz-dark-secondary-value) / 80%);
    color: rgb(var(--qwarz-light-primary-value) / 60%);
}

button {
    border: none;
    outline: none;
    background: none;
    width: 16px;
    height: 16px;
}
