

.padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.row {
    position: relative;
    width: 100%;
}

.row::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -33px 0 33px -33px var(--qwarz-dark-primary) inset;
    pointer-events: none;
}
.row::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 33px 0 33px -33px var(--qwarz-dark-primary) inset;
    pointer-events: none;
}

.media-overflow {
    overflow: auto;
}