.card {
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.glass {
    background: rgb(var(--qwarz-dark-secondary-value) / 30%);
    border: var(--border-sm) solid rgb(var(--qwarz-light-tertiary-value) / 20%);
    backdrop-filter: var(--blur);
}

.qwartz-primary {
    background: var(--qwarz-dark-primary);
    border: var(--border-md) solid var(--qwarz-dark-primary);
}

.qwartz-secondary {
    background: var(--qwarz-dark-secondary);
    border: var(--border-md) solid var(--qwarz-dark-secondary);
}

.framed {
    border: var(--border-md) solid var(--qwarz-light-primary);
    background: rgb(var(--qwarz-light-primary-value) / 1%);
}

.with-padding {
    padding: 16px;
}

.full-width {
    width: 100%;
}