input {
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 24px;
    height: 24px;
    border-radius: 11px;
    border: var(--border-md) solid var(--qwarz-light-primary);
    cursor: pointer;
    box-shadow: var(--shadow);
}

.background {
    position: absolute;
    user-select: none;
    border-radius: 11px;
    cursor: pointer;
    width: 21px;
    height: 21px;
    backdrop-filter: var(--blur-clear);
    z-index: -1;
    transition: backdrop-filter var(--transition-speed-medium);
}

label .checkbox:checked + .dot {
    width: 14px;
    height: 14px;
    background-color: var(--qwarz-light-primary);
    border-radius: 6px;
}

label .checkbox:checked + .dot + .background {
    backdrop-filter: var(--blur);
}